<div class="container">
  <div class="row">
    <div class="top-text">
      <h1>Editing Book</h1>
    </div>
  </div>
  <div class="text-danger">
    <% if @book.errors.any? %>
      <h1><%= @book.errors.count %>error prohibited this obj from being saved:</h1>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="row">
    <%= form_with model:@book, local:true do |f| %>
      <p>Title</p>
      <%= f.text_field :title, size: 60 %>
      <p>Opinion</p>
      <%= f.text_area :body, size: "60x2" %>
      <%= f.submit 'Update Book', class:"btn btn-primary w-50 btn-success" %>
    <% end %>
  </div>
  <div class="row">
      <%= link_to "Show", book_path(params[:id]) %>
      |
      <%= link_to "Back", books_path %>
  </div>
</div>